<div>
  <form
    id="form"
    action="login"
    method="POST"
    enctype="application/x-www-form-urlencoded"
  >
    <label for="username">
      <input
        required
        autocomplete="off"
        type="text"
        id="username"
        name="username"
        placeholder="Username"
      />
    </label>
    <label for="password">
      <input
        required
        autocomplete="off"
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
    </label>
    <button type="submit">LOG IN</button>
  </form>
  <p>Don't have an account?Register <a href="/register">HERE</a></p>
</div>
