<div>
  <form
    action="newArticle"
    method="POST"
    enctype="application/x-www-form-urlencoded"
  >
    <label for="title">
      <input type="text" name="title" />
    </label>

    <label for="content">
      <textarea name="content" cols="100" rows="5"></textarea>
    </label>

    <button type="submit">Add article</button>
  </form>
</div>
