<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="outside-container">
      <%- include("partials/newsHeader") %> <%- include("partials/navbar") %>
      <h1>UNDER CONSTRUCTION</h1>
      <a href="/"><p>HOME</p></a>
    </div>
  </body>
</html>
