*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background: #2d2424;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: lightblue;
}
#outside-container {
  margin: auto;
  width: 1000px;
  background: #5c3d2e;
  min-height: 100vh;
}
.banner-center {
  display: block;
  width: 100%;
}
nav {
  background: #b85c38;
}
ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 8px;
}
ul a li {
  font-size: 20px;
  margin: 0 8px;
  color: black;
}
ul a {
  border-left: 2px #e0c097 solid;
  text-decoration: none;
}
ul #loggedInUser {
  flex-grow: 1;
}
article {
  margin-top: 28px;
}
section {
  padding: 0 20px 20px;
}
#section-comments {
  margin-top: 60px;
  padding: 16px;
}
#section-comments div:last-child {
  margin-top: 4px;
}
#section-post {
  background-color: #b85c38;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
}
#load-more-news {
  display: block;
  margin: auto;
  padding: 2px;
}
h1 {
  font-size: 32px;
  margin: 0 0 8px;
}
h2 {
  font-size: 24px;
}

.date {
  float: right;
}
span {
  font-size: 10px;
}
#error {
  font-size: 20px;
  text-align: center;
  color: red;
}

#form-login,
#form-register,
#form-deleteUser,
#form-updateUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
#form-login > *,
#form-register > *,
#form-deleteUser > *,
#form-updateUser > * {
  margin-top: 4px;
}
button {
  width: fit-content;
}
form {
  display: flex;
  flex-direction: column;
}
#form-newComment > *,
#form-editComment > * {
  margin-top: 4px;
}
.comment {
  background-color: #b85c38;
  margin-top: 8px;
  padding: 4px;
  border-radius: 4px;
}
.comment-content {
  width: 100%;
  max-height: 96px;
  overflow: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.post-content {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.post-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#post-title {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.comment p:nth-of-type(2) {
  padding-top: 2px;
  padding-bottom: 6px;
}

@media only screen and (max-width: 1000px) {
  #outside-container {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  ul a li {
    font-size: 14px;
    margin: 0 2px;
  }
  h1 {
    font-size: 24px;
    margin: 0 0 4px;
  }
  h2 {
    font-size: 20px;
  }
  span {
    font-size: 8px;
  }
}
