/* CLEAR PROPERTIES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* /////////////////////////////////////////////// */
/* ALL PAGES */

/* NAVBAR */
.banner-center {
  display: block;
  width: 100%;
}
nav {
  background: #b85c38;
}
ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 8px;
}
ul > a > li {
  font-size: 20px;
  margin: 0 8px;
  color: black;
}
ul > a {
  border-left: 2px #e0c097 solid;
  text-decoration: none;
}
ul #loggedInUser {
  flex-grow: 1;
}
/* ////// */
html {
  color: white;
  background: #2d2424;
  font-family: Arial, Helvetica, sans-serif;
}
#outside-container {
  margin: auto;
  width: 1000px;
  background: #5c3d2e;
  min-height: 100vh;
}
#outside-container a {
  color: lightblue;
}

.title {
  font-size: 28px;
}
.author {
  font-size: 12px;
}
.date {
  text-align: right;
  font-size: 10px;
}
/* ////////////////////////////////////////////// */
/* INDEX ONLY */
#section-posts {
  margin: 4px;
}
#section-posts article {
  background-color: #b85c38;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 6px 0;
}
.post-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* /////////////////////////////////////////// */
/* NEWS ONLY */
#post-title {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
#section-post {
  background-color: #b85c38;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
}
#section-comments {
  margin-top: 32px;
  padding: 16px;
}
#section-comments button {
  margin-top: 4px;
}
.comment p:nth-of-type(2) {
  padding-top: 2px;
}
.comment-content {
  background-color: #a05030;
  padding: 2px;
  border-radius: 4px;
  margin-top: 6px;
  max-height: 92px;
  overflow: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.post-content {
  background-color: #a05030;
  padding: 2px;
  border-radius: 4px;
  margin-top: 6px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 20px;
}
/* ////////////////////////////////////////// */

#load-more-news {
  display: block;
  margin: auto;
  padding: 2px;
}

#error {
  font-size: 20px;
  text-align: center;
  color: red;
}

#form-login,
#form-register,
#form-deleteUser,
#form-updateUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
#form-login > *,
#form-register > *,
#form-deleteUser > *,
#form-updateUser > * {
  margin-top: 4px;
}
button {
  width: fit-content;
}
form {
  display: flex;
  flex-direction: column;
}
#form-newComment > *,
#form-editComment > * {
  margin-top: 4px;
}
.comment {
  background-color: #b85c38;
  margin-top: 8px;
  padding: 4px;
  border-radius: 4px;
}

@media only screen and (max-width: 1000px) {
  #outside-container {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  ul > a > li {
    font-size: 14px;
    margin: 0 2px;
  }
  .title {
    font-size: 22px;
  }
  .post-content {
    font-size: 18px;
  }
  .comment-content {
    font-size: 16px;
    max-height: 74px;
  }
}
@media only screen and (max-width: 520px) {
  ul > a > li {
    font-size: 14px;
    margin: 0 2px;
  }
  .title {
    font-size: 20px;
  }
  .post-content {
    font-size: 16px;
  }
  .comment-content {
    font-size: 14px;
    max-height: 66px;
  }
}
