<div>
    <form id="form-register" action="users" 
    method="POST" enctype="application/x-www-form-urlencoded"
     onsubmit="handleSubmit(event)">
        <label for="username">
          <input
          required
          id="username"
            autocomplete="off"
            type="text"
            name="username"
            placeholder="Username"
          />
        </label>
        <label for="password">
          <input

            required
            id="password"
            autocomplete="off"
            type="password"
            name="password"
            placeholder="Password"
          />
        </label>
        <label for="confirmPassword">
          <input
          required
          autocomplete="off"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
        />
          </label>
          <label id="error"></label>
        <button type="submit">Register</button>
        <label>Already have an account?<a href="login">Log in</a></a></label>
    </form>
  </div>