<div>
    <form id="form-register" action="users" method="POST" enctype="application/x-www-form-urlencoded">
        <label for="username">
          <input
          required
            autocomplete="off"
            type="text"
            name="username"
            placeholder="Username"
          />
        </label>
        <label for="password">
          <input
            required
            autocomplete="off"
            type="password"
            name="password"
            placeholder="Password"
          />
        </label>
        <label for="confirmPassword">
          <input
          required
          autocomplete="off"
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
        />
          </label>
        <button type="submit">Register</button>
        <label>Already have an account?<a href="login">Log in</a></a></label>
    </form>
  </div>