<div>
  <form
    id="form-deleteUser"
    action="users"
    method="PUT"
    enctype="application/x-www-form-urlencoded"
  >
    <label for="deleteUserPassword">
      <input
        required
        autocomplete="off"
        type="password"
        id="deleteUserPassword"
        name="deleteUserPassword"
        placeholder="Password"
      />
    </label>
    <button id="deleteUser" type="submit">Delete Account</button>
  </form>
</div>
